body {
    margin: 0;
    padding: 0;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Favicon (Icon in the browser tab) */
head > link[rel="icon"] {
    content: url('images/favicon.png');
}

