footer {
    background-color: #484848;
    color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid #CCCCCC;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
}

/* Position the footer at the bottom of the page */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

